#content ul.caselist { 
                          list-style-type: none;
                       }

#content ul.caselist li { 
                          list-style-type: none;
                          font-size: 90%;
                          background-color: #fafafa;
                          border: 1px solid #ccc;
                          padding: 5pt;
                          margin: 5pt 0;
                          }

#content ul.caselist li div.summary{ 
                                     font-size: 80%;
                                     border: 1px solid #eee;
                                     margin: 5pt;
                                     padding: 2pt 5pt;
                                     background-color: #fcfcfc;
                                     -moz-border-radius: 1em;
                                     
                          }

#content table.case-header { 
                             width: 100%;
                             background-color: #fff;
                             border: 1px solid #f4f4f4;
                             font-size: 75%;
 }

#content table.case-header td { 
                                padding: 0 2pt;
 }

#content table.case-header td.subject {
                                        width: 15%;
 }

#content ul.caselist li div.creator { 
                       font-size: 75%;
 }

#content li.self { 
                      background-color: #cfc !important;
                      border: 1px solid #bfb;
                                     
 }

#content li.creator { 
                         background-color: #fee !important;
                         border: 1px solid #fbb;
 }

#content li.old table.case-header { 
                                    font-weight: bold;
                                    }

#content li.modified { 
                       border-width: 3px !important;
 }
